<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/select2.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/morris/morris.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->

    <title>Arogya</title>
  </head>
  <body>

<div class="main-wrapper">
        <div class="header"> <!-- Header start -->
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" width="40" height="40" alt="">
          <span class="text-uppercase">Arogya</span>
                </a>
            </div>
            <div class="page-title-box float-left">
              <h3 class="text-uppercase">Arogya</h3>
            </div>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
            
            <% if(!currentUser){%>
            <a href="/signup" class="float-right mx-3 my-2" style="color: white;font-size: 1rem;padding: .375rem .75rem;border:2px solid white;border-radius: 7px">Sign Up</a>
           <button type="button" class="btn btn-light mx-3 my-2 float-right" onclick="location.href='/login'">Login</button>
           <!-- <button type="button" class="btn btn-dark mx-3 my-2 float-right" onclick="location.href='/signup'">Sign Up</button> -->

            
    <% }else{%>
<a href="/logout" class="float-right mx-2 my-2" style="color: white;font-size: 1rem;font-weight:900px;padding: .75rem .75rem;">Logout</a></a>
    
                    <a href="#" class="float-right mx-2 my-2" style="color: white;font-size: 1rem;font-weight:900px;padding: .375rem .75rem;">
                        <span class="user-img"><img class="rounded-circle" src="images/user.jpg" width="40" alt="Arogya">
              <span class="status online"></span></span>
                        <span><%=currentUser.username%></span>
                    </a>
       
       
       
       <% }%>
        </div>





























    <!-- 
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TBC-Arogya</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <% if(!currentUser){%>
      <button class="btn btn-primary my-2 my-sm-0" type="button" onclick="location.href='/login'";>Login</button>
      <button class="btn btn-outline-primary mx-2 my-2 my-sm-0" type="button" onclick="location.href='/signup'"; >Sign-up</button>
       <% }else{%>
       <a class="nav-item active mx-3"><a  class="nav-link "><i href="https://img.icons8.com/android/24/000000/user.png"></i><%=currentUser.username%></a></a>
       <a class="nav-item active"><a href="/logout" class="nav-link">Logout</a></a>
       <% }%>

</ul>
     
    
  </div>
</nav> -->