<%include ./partials/header%>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<body>
	<img src="images/1.jpg" style="height:100% ;width: 100%;">

	<div style="position: absolute;top:200px;left:850px;">
	<b>	<h1 style="font-family: 'Playfair Display', serif;font-weight: 900;font-size:40px;">Making Health<br> Care Better Together.</h1></b>
	<p style="font-family: 'Roboto Mono', monospace;color: grey;" >The goal of real healthcare reform must be<br> very much high-quality, universal coverage<br> in cost-effective way.</p>
	<br><button class="btn btn-primary"><a href="/patient/appointment"style="font-size: 15px;padding: 5px;color:white"><b>Make Appointment</b></a></button>
</div>
</body>
<%include ./partials/footer%>