<%include ./partials/header%>


    
<body>


<img class="lan-img" src="images/1.jpg" style= "">
	<div class="main-cnt">
	<b>	<h1 style="font-family: 'Playfair Display', serif;font-weight: 900;font-size:40px;">Making <span style="color:#01c0c8">Health<br> Care</span> Better Together.</h1></b>
	<h4 style="font-family: 'Raleway', sans-serif;';color: grey;font-weight:700px;" >The goal of real healthcare reform must be<br> very much high-quality, universal coverage<br> in cost-effective way.</h4>
	<br><button class="btn btn-primary"><a href="/landing"style="font-size: 15px;padding: 5px;color:white"><b>Make Appointment</b></a></button>
	</div>




</body>
<%include ./partials/footer%>