<% include partials/header%>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    
    <table>
        <tr>
            <td><b>FirstName</b></td>
            <td><b>LastName</b></td>
            <td><b>DateOfBirth</b></td>
            <td><b>Sex</b></td>
        </tr>
            <% patient.forEach(function(patient){ %>
                <tr>
                <td><%=patient.firstName%></td>
                <td><%=patient.lastName%></td>
                <td><%=patient.dateOfBirth%></td>
                <td>
                    <% if(patient.sex===true){%>
                        Male
                   <% }else{%>
                       Female
                   <% }%>
                </td>
            </tr>
            <% } );%>
        
    </table>
    

    <script>
        
    </script>

<%include partials/footer%>